<div id ="wrapper">
<div id="main">
<div class="body">
<h2>Sign up</h2>

<%= form_for @user do |form| %>
  <%= render :partial => '/users/form', :object => form %>
  <%= form.submit 'Sign up' %>
<% end %>
</div>
</div>
	
</div>