<div id = "wrapper">
<div id = "main">
<div class = "body">
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @freezer.name %>
</p>


<%= link_to 'Edit', edit_freezer_path(@freezer) %> |
<%= link_to 'Back', freezers_path %>
</div>
</div>
</div>