<div id="header">
		<a href="index.html" id="logo"><img src="images/logo.png" alt="LOGO" style="margin-bottom:-30px;"/></a>
		<img src="images/farm.jpg" alt="LOGO" width="960px" height="200px">
		<div id="navigation">
			<ul>
				<li class="first selected"><a href="index.html">Inventory</a></li>
				<li><a href="about.html">Change Prices</a></li>
				<li><a href="solutions.html"></a></li>
				<li><a href="support.html">Sell</a></li>
			</ul>
		</div>
		<div id="search">
			<form action="" method="">
				<input type="text" value="Search" class="txtfield" onblur="javascript:if(this.value==''){this.value=this.defaultValue;}" onfocus="javascript:if(this.value==this.defaultValue){this.value='';}" />
				<input type="submit" value="" class="button" />
			</form>
		</div>
	</div> <!-- /#header -->
