<div id ="wrapper">
<div id="main">
<div class="body">
<div class="field">
<br />

 
  </div>
<p>

<h1> &nbsp; Sold Items</h1>
<table align="center" border = 1px width = 900px class = "imagetable">
  <tr>
    <th>Description</th>
	<th>Weight</th>
    <th>Price</th>
  </tr>
  <%@total = 0%>
<% @items.each do |item| %>

  <tr align = "left">
	<td><%= item.product.description %></td>
    <td><%= number_with_precision item.weight, :precision => 2 %></td>
    <td><%= number_with_precision item.price, :precision => 2  %></td>
	<%@total = @total + item.price%>
  </tr>
<%end%>

    <td>Total Price</td>
	<td></td>
    <th><%= number_with_precision @total, :precision => 2%></th>
</table>

<br />
<p align ="center">


</p>
					
				</p>
			</div>
		</div>
	
</div>
</html>
